body {
    background-color: #010a06;
    color: #fff;
    font-family: 'Open Sans', sans-serif !important;
}
.nav-top {
    font-family: 'Nova Square', sans-serif !important;
    font-size: 15px;
}
.nav-top > li {
    margin-left: 2em;
}
.title-1 {
    font-family: 'Nova Square', sans-serif;
}
.space-m {
    padding-top: 40px;
    padding-bottom: 40px;
}
.space-xl {
    padding-top: 80px;
    padding-bottom: 80px;
}
.btn {
    font-family: 'Nova Square';
}
.title-1 {
    font-family: 'Nova Square';
}
.nav-socials {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    right: 0;
    z-index: 100;
}
.bg-boba {
    background: #004bd3;
}
.btn-boba {
    background: #004bd3;
    color: #fff;
} 
.btn-boba:hover {
    background: #00318b;
    color: #fff;
}
.btn-outline-boba {
    border-color: #004bd3;
    background:transparent;
    color: #004bd3;
}
.btn-outline-boba:hover {
    border-color: #004bd3;
    background:#004bd3;
    color: #fff;
}
.text-boba {
    color: #004bd3;
}
.border-boba {
    border-color: #004bd3;
}