body {
    /* background-color: #010a06; */
    /* color: #fff; */
    font-family: 'Libre Franklin', sans-serif !important;
}
.nav-top {
    /* font-family: 'Kanit', sans-serif !important; */
    font-size: 15px;
    /* font-weight: 600; */
}
.nav-top > li {
    margin-left: 1.2em;
}
.nav-top > li  > a{
    /* color: #00B2B2 !important; */
}
.nav-foot {
    font-family: 'Kanit', sans-serif !important;
    font-size: 15px;
}
.nav-foot > li {
    margin-right: 1.2em;
}
.nav-foot > li > a {
    color: #fff;
}
.title-1 {
    font-family: 'Kanit', sans-serif;
}
.title-2 {
    font-family: 'Roboto Mono', sans-serif;
}
.space-m {
    padding-top: 40px;
    padding-bottom: 40px;
}
.space-xl {
    padding-top: 80px;
    padding-bottom: 80px;
}
.btn {
    font-family: 'Kanit';
}
.nav-socials {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    right: 0;
    z-index: 100;
}
.bg-boba-2 {
    background: #007676;
}
.bg-warn {
    background: #EFC928;
}
.btn-warn {
    background: #EFC928;
    color: #00B2B2;
} 
.btn-warn:hover {
    background: #c4a726;
    color: #00B2B2;
}
.bg-boba {
    background: #00B2B2;
}
.btn-boba {
    background: #00B2B2;
    color: #fff;
} 
.btn-boba:hover {
    background: #007676;
    color: #fff;
}
.btn-outline-boba {
    border-color: #00B2B2;
    background:transparent;
    color: #00B2B2;
}
.btn-outline-boba:hover {
    border-color: #00B2B2;
    background:#00B2B2;
    color: #fff;
}
.text-boba {
    color: #00B2B2;
}
.border-boba {
    border-color: #00B2B2 !important;
}
/* @supports (-webkit-text-stroke: 1px #010a06) {
    .text-out {
      -webkit-text-stroke: 1px #fff;
      -webkit-text-fill-color: #010a06;
    }
  } */
  .hvr-btn:hover {
      opacity:0.5;
  }
  .border-2 {
      border: 2px solid;
  }
  .to-center {
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      position: absolute;
  }
  .to-bottom {
      bottom: 0;
      right: 0;
      left: 0;
      top: auto;
      position: absolute;
  }
  .bg-grad-news {
      background-image: linear-gradient(180deg,#010a063b 5%,#010a06);
  }
  .list-road {
      padding-left: 0 !important;
      line-height: 2;
  }
  .list-road > li {
    padding-left: 0 !important;
      background-color: transparent;
  }
  .btn-grad-1 {
      background-image: linear-gradient(to right, #00B2B2 0%, #ffb100  51%, #00B2B2  100%)
    }
  .btn-grad-1 {
     margin: 10px;
     text-align: center;
     transition: 0.5s !important;
     background-size: 200% auto;
     color: #fff !important;            
     box-shadow: 0 0 10px #00B2B2;
   }
  
   .btn-grad-1:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }

   .bg-grad-cs {
       background-image: linear-gradient(254deg,#001438 5%,#00B2B2);
   }

   .page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
  }
  .page-loading.active {
    opacity: 1;
    visibility: visible;
  }
  .page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
  }
  .page-loading.active > .page-loading-inner {
    opacity: 1;
  }
  .page-loading-inner > span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #00B2B2;
  }
  .page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #00B2B2;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
  }
  @-webkit-keyframes spinner {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .btn-icon {
        width: 40px;
        height: 40px;
        border-radius: 50rem;
        font-size: 1rem;
        padding: 0.45rem 0 0 0;
  }
  .bg-dark-2 {
      background: #010a06;
  }
  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #007676; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00B2B2; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00B2B2; 
  }
  .gray-1 {
    filter: grayscale(var(--value, 100%));
  }
  .nav-social > li > a {
    font-size: 1.5em;
    color: #fff;
  }
  .grad-home-1 {
    background-image: linear-gradient(180deg,#00b2b22b 5%,#00b2b200);
  }
  .grad-home-2 {
    background-image: linear-gradient(0deg,#efc92826 5%,#efc92800);
  }